<style>
  .page404 {
    padding: 0 5%;
  }

  .page404 img {
    width: 100%;
    border-radius: 15px;
    background-color: white;
  }

  .page404 .back-p {
    margin-right: 15px;
    padding: 10px 20px;
    border: 1px solid #51aded;
    background: #51aded;
    color: #fff;
    line-height: 3;
  }

  .page404 .back-p:hover {
    background: #489cd7;
    color: #fff !important;
  }

  .page404 .back-index {
    margin-left: 15px;
    padding: 10px 20px;
    border: 1px solid #f0f0f0;
    background-color: #fafafa;
    color: #767676;
    line-height: 3;
  }

  .page404 .back-index:hover {
    border-color: #0092ee;
    color: #0092ee;
  }

  .page404 .errtxt {
    margin-top: 10%;
  }
</style>

<div class="page404">
    <div class="kratos-hentry kratos-page-inner clearfix">
        <div class="col-md-7">
            <img src="<%- url_theme_cdn('images/404.webp') %>" loading="eager" decoding="auto" />
        </div>
        <div class="col-md-5 text-center errtxt">
            <h3>404 沒有這個頁面喔～</h3>
            <h5>你迷路了嗎？要不要試著回到首頁找一找呀～？</h5>
            <p>
                <a href="javascript:history.go(-1)" class="back-p">回到上一頁</a>
                <a href="<%- url_for() %>" class="back-index">回到首頁</a>
            </p>
        </div>
    </div>
</div>
