<aside id="krw-comments" class="widget widget-kratos-posts">
  <h4 class="widget-title"><i class="fa-solid fa-comments"></i>最新留言&nbsp;&nbsp;&nbsp;&nbsp;<small>（每小時更新）</small></h4>
  <div class="tab-content">
    <ul class="list-group">
      <a class="list-group-item" href="#"><i class="fa fa-comment"></i> 文章留言正在載入中...</a>
      </ul>
  </div>
</aside>